/* Mikhail Nikipelov — http://desir.me/ */

@import url(bootstrap/bootstrap.css);
@import url(bootstrap/bootstrap-responsive.css);

@import url(reset.css);

@import url(animations.css);

@font-face{
	font-family: 'ClearSansRegular';
	src: url('../fonts/clearsans_regular_cyrillic/ClearSans-Regular-webfont.eot');
	src: url('../fonts/clearsans_regular_cyrillic/ClearSans-Regular-webfont.eot?iefix') format('eot'),
	     url('../fonts/clearsans_regular_cyrillic/ClearSans-Regular-webfont.woff') format('woff'),
	     url('../fonts/clearsans_regular_cyrillic/ClearSans-Regular-webfont.ttf') format('truetype'),
	     url('../fonts/clearsans_regular_cyrillic/ClearSans-Regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'ClearSansBold';
	src: url('../fonts/clearsans_bold_cyrillic/ClearSans-Bold-webfont.eot');
	src: url('../fonts/clearsans_bold_cyrillic/ClearSans-Bold-webfont.eot?iefix') format('eot'),
	     url('../fonts/clearsans_bold_cyrillic/ClearSans-Bold-webfont.woff') format('woff'),
	     url('../fonts/clearsans_bold_cyrillic/ClearSans-Bold-webfont.ttf') format('truetype'),
	     url('../fonts/clearsans_bold_cyrillic/ClearSans-Bold-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'ClearSansThin';
	src: url('../fonts/clearsans_thin_cyrillic/ClearSans-Thin-webfont.eot');
	src: url('../fonts/clearsans_thin_cyrillic/ClearSans-Thin-webfont.eot?iefix') format('eot'),
	     url('../fonts/clearsans_thin_cyrillic/ClearSans-Thin-webfont.woff') format('woff'),
	     url('../fonts/clearsans_thin_cyrillic/ClearSans-Thin-webfont.ttf') format('truetype'),
	     url('../fonts/clearsans_thin_cyrillic/ClearSans-Thin-webfont.svg#webfont') format('svg');
}


/* basics */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  vertical-align: top;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
textarea {
  overflow: auto;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}
:-moz-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}

body {
	font: 400 14px/18px 'ClearSansRegular', 'Trebuchet MS', Trebuchet MS, Trebuchet, Helvetica, Arial, "Nimbus Sans L", sans-serif;
	background: #eee;
	color: #4e4e4e;
    text-rendering: optimizeLegibility;
}
a:focus, img:focus, select:focus, input:focus, textarea:focus, checkbox:focus {
    outline: inherit;
}

a {
    color: #0062a6;
    text-decoration: none;
}
a:hover {
    color: #c00;
    text-decoration: none;
}
a:active {
    text-decoration: none;
}


h2 {
    font-size: 24px;
    color: #e4073c;
    padding: 15px 20px;
}
h3, h4, h5, h6 {
    font-size: 18px;
    color: #4e4e4e;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ClearSansBold';
    font-weight: 400;
    padding: 20px;
}
    h2, h3, h4, h5, h6 {
        line-height: 24px;
    }
    h3, h4, h5, h6 {
        padding: 20px 20px 0 20px;
    }
    h2+h3, h2+h4, h2+h5, h2+h6 {
        padding: 0 20px;
    }
        h2+p {
            padding: 0px 20px;
        }
        h3+p, h4+p, h5+p, h6+p {
            padding: 10px 20px 0 20px;
        }
p {
    padding: 20px;
}
    p+p {
        padding: 10px 20px;
    }
        p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {
            padding: 10px 20px 0 20px;
        }

table {
    margin-bottom: 20px;
}

form {
    padding: 20px 20px 0 20px;
    position: relative;
    display: block;
}

input, textarea {
    border: 1px #d4d4d4 solid;
    padding: 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input:focus, textarea:focus {
    border: 1px #000 solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

input {
    height: 40px;
    width: 205px;
    margin: 0 22px 20px 0;
    display: block;
    float: left;
}
input[type=tel] {
    margin: 0 0 20px 0;
}
input[type=submit] {
    float: none;
    margin: 0;
    cursor: pointer;
    border: 0;
    background: #749600;
    color: #fff;
}
    input[type=submit]:hover {
        background: #95c100;
    }
textarea {
    width: 100%;
    height: 70px;
    margin: 0 0 20px 0;
}






/* buttons */

.btn {
    display: block;
}

.btn-main {
    background: #ffc000;
    border: 3px solid #fff;
    padding: 15px 0 22px 0;
    font-size: 1.6em;
    font-family: 'ClearSansBold';
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 0;
}
.btn-main:hover {
    background: #ef9300;
    color: #fff;
    text-decoration: none;
}




/* captions */

.caption {
    font-weight: 400;
}




/* header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    z-index: 1000;
    height: 80px;
    padding: 20px 0;
    font-size: 16px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
    .header ul {
        float: left;
    }
        .header ul li {
            float: left;
            
        }
            .header ul li a {
                display: block;
                height: 40px;
                color: #6f6f6f;
                padding: 10px 18px;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -ms-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
                .header ul li a:hover {
                    background-color: #ddd;
                    color: #000;
                }
                .header ul li:nth-child(1) a {
                    width: 0px;
                    padding: 0;
                    overflow: hidden;
                    text-indent: -314em;
                    background: url(../img/logo.png) 10px 15px no-repeat;
                    background-size: 70% auto;
                }
    .header span {
        float: right;
        padding: 7px 0;
        font-family: 'ClearSansBold';
        font-size: 18px;
    }
        .header span a[href*="tel:"]{
            color: #6f6f6f;
            text-decoration: none;
        }

.header.fixed {
    position: fixed;
    background: rgba(0,0,0,.85);
    height: 60px;
    padding: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}
    .header.fixed ul li a {
        height: 60px;
        color: #dbdbdb;
        padding: 20px 18px;
    }
        .header.fixed ul li a:hover {
            background-color: rgba(228, 7, 60, .85);
            color: #fff;
        }
    .header.fixed span {
        padding: 21px 0;
        color: #fff;
    }
        .header.fixed span a[href*="tel:"]{
            color: #fff;
            text-decoration: none;
        }
    .header.fixed ul li:nth-child(1) a {
        width: 65px;
    }




/* content */

.content {
    position: relative;
    margin: 80px 0 0 0;
}
    .content [class*=span]>a {
        display: block;
    }
        .content [class*=span]>a, .content [class*=span]>div {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            background: #fff;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        .content [class*=span]>a:hover, .content [class*=span]>div:hover {
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
            margin-top: -3px;
            margin-bottom: 23px;
        }


.content [class*=span] a.logo {
    display: block;
    height: 220px;
    text-indent: -314em;
    background: #e4073c url(../img/logo.png) center center no-repeat;
    background-size: 80%;
}
    .content [class*=span] a.logo:hover {
        background-color: #fb003c;
    }
.content [class*=span] a.logo .caption {
    margin-top: 0;
}


.content [class*=span] .news {

}
    .content [class*=span] .news .item {
        display: block;
        position: relative;
        min-height: 60px;
        color: #4e4e4e;
        line-height: 18px;
        padding: 12px 12px 12px 30px;
        border-bottom: 1px #eee solid;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
        .content [class*=span] .news .item:hover {
            background: #f5f5f5;
            color: #000;
        }
        .content [class*=span] .news .item .date {
            position: absolute;
            background: #b6b6b6;
            width: 30px;
            height: 40px;
            color: #fff;
            left: -10px;
            top: 10px;
            text-align: center;
            padding: 11px 0 0 0;
            line-height: 10px;
            -webkit-transition: background-color 0.2s ease;
            -moz-transition: background-color 0.2s ease;
            -ms-transition: background-color 0.2s ease;
            -o-transition: background-color 0.2s ease;
            transition: background-color 0.2s ease;
        }
            .content [class*=span] .news .item:hover .date {
                background: #999;
            }
        .content [class*=span] .news .item.important .date {
            background: #eba000;
        }
            .content [class*=span] .news .item.important:hover .date {
                background: #d87d08;
            }
        .content [class*=span] .news .item .date .month {
            font-size: 10px;
        }
        .content [class*=span] .news .item:last-child {
            border: 0;
        }
    .content [class*=span] .news .all {
        display: block;
        color: #e4073c;
        height: 37px;
        padding: 10px 12px 12px 30px;
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        -ms-transition: background-color 0.2s ease;
        -o-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
    }
        .content [class*=span] .news .all:hover {
            background: #e4073c;
            color: #fff;
        }


.content [class*=span] .solutions {
    display: block;
    background: #749600 url(../img/solutions.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    height: 460px;
    position: relative;
}
    .content [class*=span] .solutions .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(116, 150, 0, 0.8);
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
        .content [class*=span] .solutions .info h2 {
            font-family: 'ClearSansThin';
            color: #fff;
            font-size: 45px;
            letter-spacing: -4px;
            text-transform: uppercase;
            padding: 25px 20px 15px 20px;
        }
    .content [class*=span] .solutions .info p {
        padding: 10px 20px 20px 20px
    }
    .content [class*=span] .solutions:hover .info {
        background: rgba(116, 150, 0, 1);
    }


.content [class*=span] .works {
    
}
    .content [class*=span] .works .article {
        display: block;
        color: #4e4e4e;
    }
        .content [class*=span] .works .article .info .caption {
            font: 18px/18px "ClearSansBold";
            padding: 20px 20px 0 20px;
        }
        .content [class*=span] .works .article .info .caption+.text {
            padding: 10px 20px 30px 20px;
        }
        .content [class*=span] .works .article .photo img {
            width: 100%;
            height: auto;
        }


.content [class*=span] .banner {
    
}
    .content [class*=span] .banner .photo {
        display: block;
        height: 220px;
        width: 100%;
        text-indent: -314em;
    }

.content [class*=span] .shipping {
    display: block;
    height: 220px;
    overflow: hidden;
    position: relative;
}
    .content [class*=span] .shipping div {
        position: absolute;
        height: 220px;
        width: 100%;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
        .content [class*=span] .shipping .road {
            background: url(../img/road.jpg) center center no-repeat;
            background-size: cover;
        }
        .content [class*=span] .shipping .car {
            background: url(../img/car.png) left top no-repeat;
            background-size: cover;
            -webkit-animation: car 8s infinite linear;
               -moz-animation: car 8s infinite linear;
                 -o-animation: car 8s infinite linear;
                    animation: car 8s infinite linear;
        }
        .content [class*=span] .shipping .text {
            background-size: auto;
            bottom: 0;
        }
            .content [class*=span] .shipping .text.slow {
                height: 110px;
                width: 276px;
                left: 300px;
                background: url(../img/text-slow.png) left top no-repeat;
                -webkit-animation: text-slow 8s 1.5s infinite ease;
                   -moz-animation: text-slow 8s 1.5s infinite ease;
                     -o-animation: text-slow 8s 1.5s infinite ease;
                        animation: text-slow 8s 1.5s infinite ease;
            }
            .content [class*=span] .shipping .text.normal {
                height: 110px;
                width: 270px;
                left: 350px;
                background: url(../img/text-normal.png) 5px top no-repeat;
                -webkit-animation: text-normal 8s 1.5s infinite ease;
                   -moz-animation: text-normal 8s 1.5s infinite ease;
                     -o-animation: text-normal 8s 1.5s infinite ease;
                        animation: text-normal 8s 1.5s infinite ease;
            }
            .content [class*=span] .shipping .text.fast {
                height: 110px;
                width: 300px;
                left: 400px;
                background: url(../img/text-fast.png) -10px top no-repeat;
                -webkit-animation: text-fast 8s 1.5s infinite ease;
                   -moz-animation: text-fast 8s 1.5s infinite ease;
                     -o-animation: text-fast 8s 1.5s infinite ease;
                        animation: text-fast 8s 1.5s infinite ease;
            }


.content [class*=span] .box {
    position: relative;
}
    .content [class*=span] .box .package {
        display: block;
        height: 220px;
        width: 100%;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
    }
        .content [class*=span] .box .package svg {
            left: 0 !important;
        }
    .content [class*=span] .box .icon-3d {
        position: absolute;
        bottom: 20px;
        text-transform: uppercase;
        font-family: 'ClearSansBold';
        left: 50%;
        text-align: center;
        width: 34px;
        height: 19px;
        margin: 0 0 0 -16px;
        background: url(../img/3d.png) 2px bottom no-repeat;
        background-size: 32px 13px;
    }



/* inside pages */

.content [class*=span] .page {
    padding: 0 0 30px 0;
    margin: 0 0 20px 0;
}
    .content [class*=span] .page:hover {
        margin: 0 0 20px 0;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }

.content [class*=span] .page img, .content [class*=span] .page iframe, .content [class*=span] .page .slider, .content [class*=span] .page ymaps[id*=ymaps] {
    padding: 10px 0;
}
.content [class*=span] .page p+img, .content [class*=span] .page p+iframe, .content [class*=span] .page p+.slider, .content [class*=span] .page p+ymaps[id*=ymaps] {
    padding: 30px 0 10px 0;
}

.content [class*=span] .page .gallery {
    padding: 10px 0 0 20px;
}
    .content [class*=span] .page .gallery a {
        display: block;
        float: left;
        margin: 0 20px 0 0;
    }
    .content [class*=span] .page img+p, .content [class*=span] .page iframe+p, .content [class*=span] .page .slider+p, .content [class*=span] .page .gallery+p, .content [class*=span] .page ymaps[id*=ymaps]+p {
        padding: 10px 20px 0 20px;
    }


.content [class*=span] .solution {
    padding: 0 0 10px 220px;
    color: #4e4e4e;
    min-height: 150px;
    position: relative;
}
    .content [class*=span] .solution:hover {
        background: #f5f5f5;
    }

    .content [class*=span] .solution .img {
        width: 220px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }


/* footer */

.footer {
    position: relative;
}





/* fixes */

.gecko {
}

.opera {
}

.mobile {
}




/* media */

@media only screen and (max-width: 1023px) {
    
        .menu-toggle {
        width: 25px;
        height: 25px;
        margin: 15px 0 15px 20px;
        cursor: pointer;
    }
    
    .menu-btn {
        width: 25px;
        height: 14px;
        border-bottom: 3px #fff solid;
        position: relative;
    }
    .menu-btn:before {
        display: block;
        content: "";
        border-bottom: 3px #fff solid;
        position: relative;
        top: 3px;
    }
    .menu-btn:after {
        display: block;
        content: "";
        border-bottom: 3px #fff solid;
        position: relative;
        top: 16px;
    }
    
    .header, .header.fixed {
        height: 60px;
        position: fixed;
        background: rgba(0,0,0,.85);
        padding: 0;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
        overflow: hidden;
    }
    .header.open {
        height: auto;
    }
        .header ul {
            width: 100%;
        }
            .header ul li {
                float: none;
            }
                .header ul li a, .header.fixed ul li a {
                    height: 50px;
                    color: #dbdbdb;
                    padding: 15px 20px;
                }
                    .header ul li a:hover {
                        background-color: rgba(228, 7, 60, .85);
                        color: #fff;
                    }
                .header span, .header.fixed span {
                    padding: 18px 0;
                    color: #fff;
                    position: absolute;
                    top: 0;
                    right: 20px;
                }
                .header ul li:nth-child(1) a, .header.fixed ul li:nth-child(1) a {
                    width: 100%;
                    padding: 15px 20px;
                    text-indent: 0em;
                    background-image: none;
                }
    .header span a[href*="tel:"], .header.fixed span a[href*="tel:"] {
        color: #fff;
        text-decoration: none;
    }

}

@media only screen and (max-width: 767px) {
    
    .content {
        margin: 60px 0 0 0;
    }
        .content [class*=span]>a, .content [class*=span]>div {
            margin: 0;
        }
        .content [class*=span]>a:hover, .content [class*=span]>div:hover {
            margin: 0;
        }
    
    .content [class*=span] .owl-theme .owl-controls .owl-buttons {
        bottom: -5px;
    }
    
    .content [class*=span] .news .item {
        padding: 12px 12px 12px 40px;
    }
        .content [class*=span] .news .item .date {
            left: 0;
        }
        .content [class*=span] .news .all {
            padding: 10px 12px 12px 40px;
        }
    
    .content [class*=span] .page {
        margin: 0;
    }
        .content [class*=span] .page:hover {
            margin: 0;
        }
    
.content [class*=span] .solution {
    padding: 220px 0 10px 0;
    color: #4e4e4e;
    min-height: 150px;
    position: relative;
}
    .content [class*=span] .solution:hover {
        background: #f5f5f5;
    }

    .content [class*=span] .solution .img {
        width: 100%;
        height: 220px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: inherit;
    }
    
}